In [12]:
import pandas as pd

df = pd.read_csv('~/share/auto-mpg.csv', header=None)

In [13]:
df

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [14]:
df.columns = ['연비', '실린더 수', '배기량', '출력', '차종', '가속능력', '출시년도', '제조국', '모델명']

In [18]:
df.shape

(398, 9)

In [20]:
df.head()

,연비,실린더 수,배기량,출력,차종,가속능력,출시년도,제조국,모델명
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [21]:
df.tail()

       연비  실린더 수    배기량     출력      차종  가속능력  출시년도  제조국              모델명
393  27.0      4  140.0  86.00  2790.0  15.6    82    1  ford mustang gl
394  44.0      4   97.0  52.00  2130.0  24.6    82    2        vw pickup
395  32.0      4  135.0  84.00  2295.0  11.6    82    1    dodge rampage
396  28.0      4  120.0  79.00  2625.0  18.6    82    1      ford ranger
397  31.0      4  119.0  82.00  2720.0  19.4    82    1       chevy s-10

In [22]:
# dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연비      398 non-null    float64
 1   실린더 수   398 non-null    int64
 2   배기량     398 non-null    float64
 3   출력      398 non-null    object
 4   차종      398 non-null    float64
 5   가속능력    398 non-null    float64
 6   출시년도    398 non-null    int64
 7   제조국     398 non-null    int64
 8   모델명     398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [23]:
df['연비'].dtypes

dtype('float64')

In [24]:
df.describe()

,연비,실린더 수,배기량,차종,가속능력,출시년도,제조국
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [28]:
print(df.count())
print(type(df.count()))

연비       398
실린더 수    398
배기량      398
출력       398
차종       398
가속능력     398
출시년도     398
제조국      398
모델명      398
dtype: int64
<class 'pandas.core.series.Series'>

In [31]:
# 고유값
unique_value = df['제조국'].value_counts()
print(unique_value)

제조국
1    249
3     79
2     70
Name: count, dtype: int64

In [33]:
df.mean(numeric_only=True)

연비         23.514573
실린더 수       5.454774
배기량       193.425879
차종       2970.424623
가속능력       15.568090
출시년도       76.010050
제조국         1.572864
dtype: float64

In [40]:
df[['연비', '차종']].mean()

연비      23.514573
차종    2970.424623
dtype: float64

In [43]:
df.median(numeric_only=True)

연비         23.0
실린더 수       4.0
배기량       148.5
차종       2803.5
가속능력       15.5
출시년도       76.0
제조국         1.0
dtype: float64

In [45]:
df['연비'].median()

23.0

In [47]:
df.max()

연비                   46.6
실린더 수                   8
배기량                 455.0
출력                      ?
차종                 5140.0
가속능력                 24.8
출시년도                   82
제조국                     3
모델명      vw rabbit custom
dtype: object

In [48]:
# ' ? ' : 
df['출력'][0]

'130.0'

In [49]:
#corelation 
df.corr(numeric_only=True)

             연비     실린더 수       배기량        차종      가속능력      출시년도       제조국
연비     1.000000 -0.775396 -0.804203 -0.831741  0.420289  0.579267  0.563450
실린더 수 -0.775396  1.000000  0.950721  0.896017 -0.505419 -0.348746 -0.562543
배기량   -0.804203  0.950721  1.000000  0.932824 -0.543684 -0.370164 -0.609409
차종    -0.831741  0.896017  0.932824  1.000000 -0.417457 -0.306564 -0.581024
가속능력   0.420289 -0.505419 -0.543684 -0.417457  1.000000  0.288137  0.205873
출시년도   0.579267 -0.348746 -0.370164 -0.306564  0.288137  1.000000  0.180662
제조국    0.563450 -0.562543 -0.609409 -0.581024  0.205873  0.180662  1.000000

In [50]:
# 상관계수 : -1 ~ 1
# 1에 가까움 - 비례 관계
# -1에 가까움 - 반비례 관계
# 0에 가까움 - 상관관계 거의 없음
df[['연비', '차종']].corr()

          연비        차종
연비  1.000000 -0.831741
차종 -0.831741  1.000000